.card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-content b {
    font-size: 22px;
}

.card-content p {
    font-size: 22px;
    margin:0px!important;
}